.app.dark {
  --bg-color: #011f4b;

  --primary-color: #b3cde0;
  --secondary-color: #6497b1;

  --inverted-bg-color: #b3cde0;

  --inverted-primary-color: #011f4b;
  --inverted-secondary-color: #005b96;
}
