.app.white {
  --bg-color: #b3cde0;

  --primary-color: #011f4b;
  --secondary-color: #005b96;

  --inverted-bg-color: #011f4b;

  --inverted-primary-color: #b3cde0;
  --inverted-secondary-color: #6497b1;
}
